.products-left {
    .title-product {
        width: 100%;
    }
    .center-align-product {
        text-align: center;
    }
    .table-header-bg {
        background: #f7f7f9;
    }
    padding-bottom: 50px;
}

.right-sidebar {
    padding-bottom: 50px;
}