.all-brands-wrap {
    margin-top: 50px;
}

.all-brands {
    .all-brands-inner {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px -30px;
    }
    @media (min-width: 992px) {
        .col-lg-4 {
            flex: 0 0 25%;
            max-width: 25%;
        }
    }
    .brand-image {
        display: block;
        border: 1px solid $color-gray-lite;
        border-radius: $radius-default;
        overflow: hidden;
        transition: $transition-default;
        min-height: 140px;
        height: 100%;
        &:hover {
            border-color: $color-default-transparent-lite;
            border-color: var(--color-primary-transparent-lite);

            > img {
                opacity: 0.7;
            }
        }

        > img {
            position: absolute;
            left: 50%;
            top: 50%;
            max-height: 100%;
            max-width: 100%;
            transform: translate(-50%, -50%);
            transition: $transition-default;
        }

        .image-placeholder {
            height: 65px;
            width: 65px;
        }
    }

    .home-brand-image {
        margin-bottom: 0;
        padding-bottom: 0;
        height: 90%;
    }

    .home-title {
        margin-bottom: 30px;
    }

    .empty-message {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 40px 0;

        svg {
            height: 100px;
            width: 100px;
            margin-bottom: 22px;

            path {
                stroke: $color-white;
                stroke-miterlimit: 10;
                stroke-width: 5px;
                fill: $color-default;
                fill: var(--color-primary);
            }
        }
    }
    .category-item {
        text-align: center;
        border-radius: 5px;
        padding: 0px 5px 10px;
        .category-title {
            height: 80%;
            padding-top: 15px;
            font-size: 20px;
            line-height: 60px;
        }
        .imgWrap {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            min-height: 92px;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            margin-bottom: 2px;
            img {
                max-width: 135px;
                max-height: 92px;
            }
            height: 80%;
        }
        .home-imgWrap {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            min-height: 92px;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            img {
                width: 100%;
            }
        }
    }
}
  
  .card-info {
    padding: 1rem;
    display: grid;
    grid-template-rows: 1fr 2.5rem;
    grid-template-columns: 3fr 1fr;
  }
  
  .card-title {
    font-size: 2rem;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }
  
  .card-icon {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    justify-self: right;
    width: 30px;
    height: 30px;
    background-color: LightBlue;
    border-radius: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
  }
  
  .card-author {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    align-self: bottom;
  }
  
  .card-stats {
    align-self: bottom;
    justify-self: right;
   
  }