@import 'product-search/_product-search-left',
        'product-search/_product-search-right',
        'product-search/_product-table-left',
        'product-search/_product-table-right',
        'product-search/_category-menu',
        'product-search/_filter-section',
        'product-search/_search-result',
        'product-search/_grid-view-product',
        'product-search/_list-view-product';

.product-search-wrap {
    margin-top: 50px;

    .product-search {
        display: flex;
    }
}

.category-certificates {
    padding: 30px;
    li {
        font-size: 16px;
        padding-left: 23px;
        position: relative;
        margin-bottom: 4px;
    }
}

.provider-title {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 400;
    font-family: GothamProMedium,sans-serif;
    color: #2b2c30;
}

.all-provider {
    margin-top: 30px;
}

.category-content {
    padding: 20px;
    border: 1px solid $color-gray-lite;
    border-radius: 0 10px 10px 10px;
}

.category-tab {
	> .tabs {
		.nav-link {
            margin-right: 5px;
			font-size: 20px;
            font-weight: 500;
            font-weight: bold;
			padding: 15px 15px;
            color: $color-black;
            text-align: center;
            color: #94c3f3;
            background-color: #f0f9ff;
            margin-bottom: 1px;
            border-radius: 10px 10px 0px 0px;
            .border {
                position: absolute;
                top: 0;
                left: 0;
                display: none;
                width: 100%;
                height: 4px;
                background-color: transparent;
                border-radius: 2px 2px 0 0;
                display: block;
                border: none !important;
            }
            &:before {
                content: none;
            }
        
            &:after {
                content: none;
            }
        }
        .nav-link.active {
            border: 1px solid #e6eef2;
            border-top-color: rgb(230, 238, 242);
            border-top-style: solid;
            border-top-width: 1px;
            border-bottom-color: rgb(230, 238, 242);
            border-bottom-style: solid;
            border-bottom-width: 1px;
            border-bottom: 0;
            background-color: #fff;
            position: relative;
            z-index: 1;
            top: 1px;
            border-radius: 2px 2px 0 0;
            border-top: 0;
            color: var(--color-primary);
            .border {
                background-color: var(--color-primary);
            }
        }
	}
}

.satisfaction {
    border: 1px solid #0fc962;
    background-color: #f5fffa;
    padding: 26px 23px 30px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 5px;
    .flexWrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 20px;
        span {
            font-family: GothamProMedium,sans-serif;
            margin-right: 5px;
        }
    }
    .satisfactionHeaders {
        position: relative;
        bottom: 5px;
    }
    .title {
        color: #0fc962;
        font-family: GothamProMedium,sans-serif;
        font-size: 16px;
    }
}

.whyChoose {
    border: 1px solid #d9e0ec;
    border-radius: 10px;
    text-align: center;
    padding: 35px 45px 43px;
    margin-bottom: 20px;
    .h4 {
        text-align: center;
        font-size: 18px;
        color: #2b2c30;
    }
    .subTitle {
        font-size: 17px;
        margin-bottom: 23px;
        line-height: 1.4;
    }
    .checkList {
        text-align: left;
    }
}

.secureShopping {
    border: 1px solid #d9e0ec;
    padding: 35px 24px 30px;
    border-radius: 10px;
    margin-bottom: 50px;
    .h4 {
        text-align: center;
        font-size: 18px;
        color: #2b2c30;
    }
    .cardsWrap {
        margin: 0 0 33px 0;
    }
    .customMargin {
        margin: 24px 0 38px;
    }
    .mcafee {
        width: 94px;
        margin: 0 auto;
        position: relative;
        .currentDate {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            color: #bc0f3e;
            font-size: 11px;
            position: absolute;
            right: 0;
            font-family: GothamProMedium,sans-serif;
            top: 75%;
        }
    }
}

.needHelpWrap {
    background: -o-linear-gradient(357.76deg,rgba(255,216,22,.1) -50.31%,rgba(255,175,9,.1) 48.89%);
    background: linear-gradient(92.24deg,rgba(255,216,22,.1) -50.31%,rgba(255,175,9,.1) 48.89%);
    border-radius: 10px;
    position: relative;
    border: 1px solid #ffbd00;
    text-align: center;
    padding: 33px 0 23px;
    font-size: 16px;
    svg {
        position: absolute;
        top: 0;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }
    .h3 {
        margin-bottom: 8px;
    }
}

.avansetBanner {
    background-color: #f3f3f3;
    border-radius: 10px;
    padding: 18px 0 37px;
    text-align: center;
    margin-bottom: 20px;
    background-image: url(../img/avansetBg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.category-title {
    .h3, h3 {
        font-size: 24px;
        font-weight: 400;
        color: #2b8aeb;
        line-height: 1.5;
    }
}

@media screen and (max-width: $lg) {
    .product-search-wrap {
        margin-top: 24px;
    }

    .product-search {
        flex-direction: column-reverse;
    }
}
