@import '_slider';

.home-section-wrap {
    margin-top: 30px;
}

.home-section-inner {
    display: flex;
    width: calc(100% - 293px);
    margin-left: 293px;

    .home-slider-wrap {
        width: 66.85%;
        padding: 0 15px;
    }

    .home-banner-wrap {
        width: 33.15%;
        padding: 0 15px;
    }
}

.home-title {
    margin-bottom: 30px;
}

.vce-exam-hot {
    .table-header-bg {
        background: #FFD6AE;
    }
    
    .table td {
        padding: 0.75rem;
        border-color: #FFF5EB;
    }

    tbody tr:hover {
        border-left: 4px solid var(--color-primary) !important;
    }

    thead {
        th {
            font-weight: bold;
        }
    }

    .table-striped tbody tr {
        background-color: white;
        border-left: 4px solid white;
    }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #FFF5EB;
        border-left: 4px solid #FFF5EB;
    }
}

@media screen and (min-width: 1650px) {
    .home-section-inner {
        .home-slider-wrap {
            width: 66.66%;
        }

        .home-banner-wrap {
            width: 33.34%;
        }
    }
}

@media screen and (max-width: 1400px) {
    .home-section-inner {
        width: calc(100% - 276px);
        margin-left: 276px;
    }
}

@media screen and (max-width: 1255px) {
    .home-section-inner {
        .home-slider-wrap {
            width: 66.90%;
        }

        .home-banner-wrap {
            width: 33.10%;
        }
    }
}

@media screen and (max-width: $xl) {
    .home-section-inner {
        .home-slider-wrap {
            width: 100%;
        }

        .home-banner-wrap {
            display: none;
        }
    }
}

@media screen and (max-width: $lg) {
    .home-section-wrap {
        .home-section-inner {
            width: 100%;
            margin-left: 0;
        }
    }
}
